input[type="time"]::-webkit-calendar-picker-indicator {
    /* background: none; */
    display: none;
}

input[type="time"] {
    border: none;
    font-size: 16px;
}

table td {
    padding: 0.5em;
    border: 1px solid black;
}
